{% extends 'base.html' %}
{% block content %}
<br>
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <p>{{ destination.city }}</p>
                <p>{{ destination.country }}</p>
                <a href="{% url 'destinations_update' destination.id %}" class="left">Edit</a>
            </div>
        </div>
    </div>

  </div>
<!---Adding Photo-->
<div>
  {% for photo in destination.photo_set.all %}
  <img src="{{ photo.url }}" alt="{{ destination.city }}" class="responsive-img card-panel" id="img">
  {% empty %}
  <div class="card-panel center-align">No Photo Uploaded</div>
  {% endfor %}
  <form action="{% url 'add_photo' destination.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <input type="file" name="photo-file">
    <br>
    <br>
    <input type="submit" value="Upload Photo" class="btn">

  </form>
</div>

    <!-------Adding Food Spot-------->
    <div class="col s6">
      <br>
        <form action="{% url 'add_food' destination.id %}" method="POST">
           {% csrf_token %}

           <span class="foodspot">Recommeded Food Spots</span>

           {{ food_form.as_p }}
           <input type="submit"  class="btn" value="Add Food">
        </form>
        <table class="striped">
          <thead>
            <tr><th>Food Spot</th><th>Rating</th><th>Comments</th><th></th><th></th></tr>
          </thead>
          <tbody>
            {% for food in destination.food_set.all %}
              <tr>
                <td>{{ food.name }}</td>
                <td>{{ food.get_rating_display }}</td>
                <td>{{ food.comment }}</td>
                <td><a href="{% url 'food_update' food.id %}">Edit</a></td>
                <td><a href="{% url 'food_delete' food.id %}">Delete</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>










<script>
    const selectEl = document.getElementById('id_rating'); 
    M.FormSelect.init(selectEl);  
</script>



{% endblock %}