{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<div class="row">
    <div class="col s4">
        <div class="card">
            <div class="card-content">
                <p>{{ destination.city }}</p>
                <p>{{ destination.country }}</p>
            </div>
        </div>
    </div>





    <!-------Adding Food Spot-------->
    <div class="col s6">
        <form action="{% url 'add_food' destination.id %}" method="POST">
           {% csrf_token %}

           {{ food_form.as_p }}
           <input type="submit"  class="btn" value="Add Food">
        </form>
        <table class="striped">
          <thead>
            <tr><th>Food Spot</th><th>Rating</th><th>Comments</th><th></th><th></th></tr>
          </thead>
          <tbody>
            {% for food in destination.food_set.all %}
              <tr>
                <td>{{ food.name }}</td>
                <td>{{ food.get_rating_display }}</td>
                <td>{{ food.comment }}</td>
                <td><a href="{% url 'food_update' food.id %}">Edit</a></td>
                <td><a href="{% url 'food_delete' food.id %}">Delete</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>




</div>







<script>
    const selectEl = document.getElementById('id_rating'); 
    M.FormSelect.init(selectEl);  
</script>



{% endblock %}